<div class="bg-light-gray grid">
  <div class="">
    <mat-card
      *ngFor="let c of comments"
      class="bg-white !p-4 m-4 place-content-center space-y-4 !rounded-lg"
    >
      <div class="flex items-center md:px-12 space-x-4">
        <div class="bg-gray-800 rounded-full p-2">
          <!-- <img src="{{ c.user?.image?.png }}" alt="Profile Image" /> -->
          <!-- <img [src]="c.user?.image?.png" /> -->
          UR
        </div>
        <p class="font-medium">{{ c.user?.username }}</p>
        <p class="text-grayish-blue">{{ c.createdAt }}</p>
      </div>
      <div class="flex flex-col md:flex-row gap-y-4">
        <div class="md:order-2 md:px-4">
          <p class="text-grayish-blue">{{ c.content }}</p>
        </div>

        <div
          class="flex items-center justify-around rounded-md bg-light-gray gap-2 p-2 w-1/4 md:flex-col md:order-1 md:w-10"
        >
          <button class="text-grayish-blue">+</button>
          <p class="text-moderate-blue font-medium">{{ c.score }}</p>
          <button class="text-grayish-blue">-</button>
        </div>
        <div class="md:order-3 md:">
          <button class="text-moderate-blue font-medium">
            <fa-icon [icon]="'reply'"></fa-icon>
            Reply
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
